body{
    color: purple;/*cor da fonte*/
background-color: rgb(227, 20, 48);/*cor de fundo*/
font-size: 24px/*tamanho da fonte*/
}
header{
    border-bottom: solid 2px black;/*borda splida de px preta*/
    padding: 20px;/*espacamento interno*/
    font-size: 35px;/*tamanho da fonte*/
    color: darkblue;
}
